[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
awscli = "*"
boto3 = "*"
botocore = "*"
certifi = "*"
chardet = "*"
click = "*"
colorama = "*"
docutils = "*"
idna = "*"
itsdangerous = "*"
jmespath = "*"
pyasn1 = "*"
python-dateutil = "*"
requests = "*"
rsa = "*"
s3transfer = "*"
six = "*"
urllib3 = "*"
watchtower = "*"
flask = "*"
jinja2 = "*"
markupsafe = "*"
pysocks = "*"
pyyaml = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.9"
