:root {
    --gu-grey: #506991;
    --gu-blue: #052962;

}


body {
    margin: 0;
    font-family: Guardian Text Egyptian Web,Georgia,serif;
}

ol {
    list-style: none;
    padding: 0;
}

.header {
    display: flex;
    background: #052962;
    color: white;
    align-items: center;
    width: 100%;
    margin: 0;
}

.header__gu-logo {
    margin: 12px 24px;
}

.header__wrapper {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    max-width: 68.75rem;
    width: 100%;
}

.header__logo {
    margin-top: .3125rem;
    margin-bottom: 1rem;
}

.logo {
    margin-top: 0.3125rem;
    margin-bottom: 1.125rem;
    position: relative;
}

.section-content {
    border-left: 1px solid #dcdcdc;
}

/*
 * Intro - that bit at the top with the yellow and black
 */
.intro {
    margin-top: 2rem;
    font-weight: 700;
    font-family: Guardian Headline,Georgia,serif;
}

.intro__over-heading {
    font-size: 1.5rem;
    line-height: 1.125rem;
    display: inline-block;
    line-height: 1;
    background-color: #ffe500;
    color: #121212;
    padding: .375rem .625rem;
}

.intro__heading {
    background: black;
    color: white;
    padding: .1875rem .625rem 2.25rem;
}

.intro__heading-text {
    font-size: 2.625rem;
    line-height: 2.8125rem;
    max-width: 25rem;
}

/*
 * Filter box
 */
.filter {
    background: #052962;
    color: white;
}

.filter__input {
    border-radius: 30px;
    padding: 10px 20px;
    border: 0;
    margin: 12px 0;
    font-size: 1rem;
    max-width: 60%;
    width: 25rem;

    color: #767676;
}
.filter__input:hover,
.filter__input:focus {
    outline: none;
}

.filter__input:focus::placeholder {
    color: #dcdcdc;
}

.collection {
    border: none;
}

.entry__link {
    padding: 6px;
    margin: 0 6px;
}

/* For listings */
.js-group[data-hidden] {
    display: none;
}

.js-entry[data-hidden] {
    display: none;
}

.section-terms {
    background-color: #f7f7f7;
    margin-bottom: 0;
    padding: 12px 0;

}

/* footer */
.page-footer {
    background-color: #052962;
    margin-bottom: 0;
    padding: 12px 0;
}