:root {
    --gu-grey: #506991;
    --gu-blue: #052962;
    --gu-yellow-1: #FFF280;
    --gu-yellow-2: #ffe500;
}

.leira {
    display: none;
}

.gu-padding {
    padding: 12px;
}

.row {
    margin: 0;
}


body {
    margin: 0;
    font-family: Guardian Text Egyptian Web,Georgia,serif;
}

ol {
    list-style: none;
    padding: 0;
}

.header {
    display: flex;
    background: #052962;
    color: white;
    align-items: center;
    width: 100%;
    margin: 0;
}

.header__gu-logo {
    margin: 12px 24px;
}

.header__wrapper {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    max-width: 68.75rem;
    width: 100%;
}

.header__logo {
    margin-top: .3125rem;
    margin-bottom: 1rem;
}

.logo {
    margin-top: 0.3125rem;
    margin-bottom: 1.125rem;
    position: relative;
}

.section-content {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}

/*
 * Intro - that bit at the top with the yellow and black
 */
.intro {
    margin-top: 2rem;
    font-weight: 700;
    font-family: Guardian Headline,Georgia,serif;
}

.intro__over-heading {
    font-size: 1.5rem;
    line-height: 1.125rem;
    display: inline-block;
    line-height: 1;
    background-color: #ffe500;
    color: #121212;
    padding: .375rem .625rem;
}

.intro__heading {
    background: black;
    color: white;
    padding: .1875rem .625rem 2.25rem;
}

.intro__heading-text {
    font-size: 2.625rem;
    line-height: 2.8125rem;
    max-width: 25rem;
}

/*
 * Filter box
 */
.filter {
    background: #FFF280;
    color: white;
}

.filter__container {
    background: #ffe500;
    border-top: 1px solid #dcdcdc;
}

.filter__input {
    border-radius: 30px;
    padding: 10px 20px;
    border: 0;
    font-size: 1rem;
    max-width: 60%;
    width: 25rem;

    color: #767676;
}
.filter__input:hover,
.filter__input:focus {
    outline: none;
}

.filter__input:focus::placeholder {
    color: #dcdcdc;
}

.collection {
    border: none;
}

/* For listings */
.js-group[data-hidden] {
    display: none;
}

.js-entry[data-hidden] {
    display: none;
}

.entry__name {
    font-weight: 600;
    font-size: 1.2rem;
}

.entry__fingerprint {
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: Guardian Text Sans Web,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.entry__link {
    padding: 6px;
    margin: 0 6px;
}

.fingerprint,
.email {
    font-family: monospace;
    margin: 12px;
    padding: 6px;
    background-color: #f7f7f7;
}

.entry__button {
    background-color: #052962;
}

.entry__button:hover,
.entry__button:focus {
    background-color: #041f4a;
}

.section-terms {
    background-color: #f7f7f7;
    border-top: 1px solid #dcdcdc;
}

.section-terms__title {
    font-weight: 700;
}

.section-terms__text {
    font-size: .9rem;
    font-family: Guardian Text Sans Web,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

/* footer */
.page-footer {
    background-color: #052962;
    padding: 12px 0;
}

.gu-copyright {
    font-size: .8rem;
    font-weight: 300;
    font-family: Guardian Text Sans Web,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}