<!DOCTYPE html>

<html>
  <head>
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=Edge,chrome=1 text/html; charset=UTF-8"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://theguardian.com/favicon.ico"
    />
    <link rel="stylesheet" type="text/css" href="/static/materialize.css" />
    <link rel="stylesheet" type="text/css" href="/static/public.css" />
  </head>

  <body>
    <header role="banner" class="header row">
      <div class="header__wrapper">
        <div class="header__gu-logo">
          {% include 'guardian-logo.html' %}
        </div>
      </div>
    </header>
  </body>

  {% block content %}{% endblock %}

  <footer class="page-footer row">
      <div class="footer-copyright container">
        <div>
            © 2019 Guardian News and Media Limited or its
            affiliated companies. All rights reserved.
        </div>
      </div>
  </footer>
</html>
