{% extends "base.html" %}
{% block content %}
<main role='main' class='body'>
    <section>
        <div class='intro'>
            <div class='intro__over-heading'>The Guardian PGP</div>
            <div class='intro__heading'>
                <div class='intro__heading-text'>
                    Privately contact our journalists
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class='section-content'>
            <p>
                When corresponding with our journalists there are times where anonymity is not a priority, but the
                aim
                is to keep the conversation private. In such situations it may be appropriate to use email, but with
                an
                additional layer of security.
            </p>
            <p>
                Encrypting the contents of an email using public key cryptographic methods is a good way to avoid
                compromising the content.
            </p>
            <p>

                The Guardian uses a third party cloud email solution. Mail and document encryption can also help
                stop a
                third party from reading the contents of a conversation.
            </p>
            <p>

                This page contains public keys of Guardian staff. To send an encrypted message to a journalist you
                will
                need to create your own keys and then encrypt the message using both your keys and the journalist’s
                public key.
            </p>

            There are many different implementations of public key cryptography. At the Guardian we have opted for
            an open source implementation of the OpenPGP standard. As with any public key cryptography
            implementation, there may be software incompatibilities. We will do our best to resolve discrepancies,
            but some issues may be beyond the capabilities of our technological implementation. The Guardian does
            not endorse any particular PGP integration or application.

            </p>

        </div>
    </section>
    <section class='filter require-js'>
        <div class='section-content'>
            <label for='filter'>
                <input id='filter' name='filter' type='text' class='filter__input' onkeyup='filterNames()'
                    spellcheck="false" placeholder='Filter names...' />
            </label>
        </div>
    </section>
    <section>
        <div class='section-content'>
            <ol>
                {% for group in groups %}
                <li>
                    <ol class='group'>
                        <h3>{{ group.heading }}</h3>
                        {% for entry in group.entries %}
                        <li class='entry'>
                            <span class='name'>{{ entry.name }} </span>
                            <a href='{{ entry.public_key }}'>Public Key</a>
                            <a href='{{ entry.fingerprint }}'>Fingerprint</a>
                        </li>
                        {% endfor %}
                    </ol>
                </li>
                {% endfor %}
            </ol>
        </div>
    </section>
    </div>

    <script>
        function filterNames() {
            var filter = document.getElementById('filter')
            if (filter) {
                var text = filter.value.toLowerCase();
                var names = document.getElementsByClassName('name');

                for (var i = 0; i < names.length; i++) {
                    var elem = names[i];

                    if (elem.innerText.toLowerCase().indexOf(text) === -1) {
                        elem.parentElement.setAttribute('data-hidden', true);
                    } else {
                        elem.parentElement.removeAttribute('data-hidden');
                    }
                }

                var groups = document.getElementsByClassName('group');
                for (var i = 0; i < groups.length; i++) {
                    var group = groups[i];
                    if (group.querySelectorAll('.entry:not([data-hidden])').length === 0) {
                        group.setAttribute('data-hidden', true);
                    } else {
                        group.removeAttribute('data-hidden');
                    }
                }
            }
        }
    </script>
</main>
{% endblock %}