{% extends "base.html" %}
{% block title %}The Guardian PGP{% endblock %}

{% block content %}
<main role='main' class='body'>
    <section class="row">
        <div class="intro container">
            <div class='intro__over-heading'>The Guardian PGP</div>
            <div class='intro__heading'>
                <div class='intro__heading-text'>
                    Privately contact our journalists
                </div>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="section-content container gu-padding">
            <p class="gu-text">
                The Guardian takes source protection seriously. If you want to email a Guardian journalist, but you're worried that your email could be read by someone else, public key encryption can add an extra layer of security.
            </p>
            <p class="gu-text">
                A safely encrypted email cannot be read in transit by email or internet service providers, or by other people who somehow gain access to the message. All being well, it can only be decrypted by the people you encrypted it for.
            </p>
            <p class="gu-text">
                You do this by means of a person's "public key", which, as the name suggests, can be used by anyone. It allows you to encrypt material specifically for whoever owns a corresponding "private key". That private key is secret to the recipient of the encrypted material, and is used to decrypt the message back into something they can read.
            </p>
            <p class="gu-text">
                This page carries links to the public keys of several Guardian journalists. You can use them to encrypt both messages and attachments that you wish to send to those journalists.
            </p>
            <p class="gu-text">
                To correspond back and forth using public key encryption, you will also need to create your own private and public keys. You would keep the former to yourself, and share the latter with the Guardian journalist so they can encrypt their messages to you.
            </p>
            <p class="gu-text">
                There are many online sources explaining how to make keys and how to encrypt messages and documents. The most popular software is free to use. The Guardian does not endorse any particular application.
            </p>

        </div>
    </section>
    <section class='filter row require-js'>
        <div class="filter__container container gu-padding">
            <label for='filter'>
                <input id='filter' name='filter' type='text' class='filter__input browser-default' onkeyup='filterNames()'
                    spellcheck="false" placeholder='Filter names...' />
            </label>
        </div>
    </section>
    <section class="row">
        <div class="section-content container gu-padding">
            {% for group in groups %}
            <ol class="collection with-header js-group">
                <li class="collection-header"><h4>{{ group.heading }}</h4></li>
                {% for entry in group.entries %}
                    <li class="collection-item js-entry">
                        <div class="row">
                            <div class="col s12">
                                <span class="entry__name js-name">{{ entry.other_names }} {{ entry.last_name }}</span>
                                <div class="entry__fingerprint">Fingerprint: <span class="fingerprint"><code>{{ entry.fingerprint }}</code></span></div>
                                <div class="entry__fingerprint">Email Address: <span class="email">{{ entry.email|safe }}</span></div>
                            </div>
                            <div class="col s12">
                                <a href='/pgp/{{ entry.publickey }}' class="waves-effect waves-light btn-small entry__button">Public Key</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ol>
            {% endfor %}
        </div>
    </section>

    <section class="row section-terms">
        <div class="container gu-padding">
            <h6 class="section-terms__title">Terms and conditions</h6>
            <p class="section-terms__text">
                Use of the Guardian's PGP public keys for encrypting email and document contents is at the user's own risk.
            </p>
            <p class="section-terms__text">
                Guardian journalists' PGP public keys may also be found on third party key servers. We cannot vouch for those key stores but can vouch for the validity of keys on this site.
            </p>
            <p class="section-terms__text">
                We have opted for an open source implementation of the OpenPGP standard. As with any public key cryptography implementation, there may be software incompatibilities, although these should be rare. We will do our best to resolve discrepancies, but some issues may be beyond the capabilities of our technological implementation.
            </p>
        </div>
    </section>

    <script>
        function filterNames() {
            var filter = document.getElementById('filter')
            if (filter) {
                var text = filter.value.toLowerCase();
                var names = document.getElementsByClassName('js-name');

                for (var i = 0; i < names.length; i++) {
                    var elem = names[i];

                    if (elem.innerText.toLowerCase().indexOf(text) === -1) {
                        elem.closest('.js-entry').setAttribute('data-hidden', true);
                    } else {
                        elem.closest('.js-entry').removeAttribute('data-hidden');
                    }
                }

                var groups = document.getElementsByClassName('js-group');
                for (var i = 0; i < groups.length; i++) {
                    var group = groups[i];
                    if (group.querySelectorAll('.js-entry:not([data-hidden])').length === 0) {
                        group.setAttribute('data-hidden', true);
                    } else {
                        group.removeAttribute('data-hidden');
                    }
                }
            }
        }
    </script>
</main>
{% endblock %}